<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Gurukulav0.1">

	<listeners>
	<listener class-name ="com.gurukula.utilities.Reporting" />
	</listeners>

	<test name="Gurukulav0.1">

		<classes>
			<class name="com.gurukula.testCases.TC_LoginTest_001" />
			<!-- class name="com.gurukula.testCases.TC_CreateBranch_002" /> -->
			<!-- class name="com.gurukula.testCases.TC_SearchBranch_003" />  -->


		</classes>

	</test>

</suite>