<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Gurukulav0.1">

	<listeners>
	<listener class-name ="com.gurukula.utilities.Reporting"></listener>
	</listeners>

	<test name="Gurukulav0.1">

		<classes>
			<class name="com.gurukula.testCases.TC_001_LoginTest" />
			<class name="com.gurukula.testCases.TC_002_LogoutTest" />
			<class name="com.gurukula.testCases.TC_003_CreateBranch" />
			<class name="com.gurukula.testCases.TC_004_SearchBranch" />
			<class name="com.gurukula.testCases.TC_005_Viewbranch" />
			<class name="com.gurukula.testCases.TC_006_Updatebranch" />
			<class name="com.gurukula.testCases.TC_007_DeleteBranch" />
			

		</classes>

	</test>

</suite>